footer {
    display: flex;
}

footer section {
    text-align: center;
    flex: 1;
    margin: 0 5px;
    box-sizing: border-box;
}

.socials {
    position: relative;
    width: 10em;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

footer {
    flex-direction: column-reverse !important;
    align-items: center;
    gap: 5em;
}

.socials svg {
    border-radius: 50%;
    padding: .2em;
    width: 3em;
    height: 3em;
    border: 2px solid white;
}

.socials svg:hover {
    filter: drop-shadow(0 0 .1em var(--bg-highlight)) brightness(1.1);
}

.socials {
    width: 25em;
    gap: 2em;
}