header {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

header h1,
header a {
    color: var(--brand-color);
}

header svg path {
    fill: var(--brand-color);
}

header a {
    font-size: 1.5em;
    margin-left: 5rem;
}