header {
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    display: flex;
    place-content: center;
}

header h1,
header a {
    color: var(--bg-highlight);
}

header svg path {
    fill: var(--bg-highlight);
}

header a {
    font-size: 1.5em;
    display: flex;
    align-items: baseline;
}

#logo:hover {
    filter: drop-shadow(1px 1px 2px var(--bg-highlight)) brightness(1.1);
}

@media screen and (max-width: 500px) {
    header a {
        font-size: 1em;
    }

    header svg {
        height: 1em;
    }
}

.blink {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}