nav {
    padding-top: 1em;
    width: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    place-items: center baseline;
    place-content: space-around space-evenly;
    list-style-type: none;
}

nav li {
    padding: .3em;
}

nav li:hover {
    border-bottom: .3em solid rgb(var(--bg-accent));
    padding-bottom: 0;
}