:root {
    /*  60-30-10 Rule */
    --bg-primary: #007F73;
    --bg-secondary: #4CCD99;
    --bg-accent: #FFC700;
    --bg-highlight: #FFF455;
}

body {
    font-size: 16px;
    display: grid;
    grid-template-areas:
      'header header header'
      'nav main sidebar'
      'footer footer footer';
    grid-template-rows: 2em auto 2em;
    grid-template-columns: 5em auto 15em;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

aside {
    grid-area: sidebar;
    background-color: var(--bg-accent);
}

main {
    grid-area: main;
    background-color: var(--bg-primary);
}

footer {
    grid-area: footer;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    background-color: var(--bg-secondary);
}

footer,
header {
    background-color: var(--bg-secondary);
}