@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@100&display=swap');

@import "/styles/layout/header.css";
@import "/styles/layout/footer.css";
@import "/styles/layout/nav.css";

:root {
  --text-color-primary: rgb(0, 0, 0);
  --text-color-secondary: #6f17c4;
  --card-color: #E4DCCF;
  --main-color: #212427;
  --brand-color: #6cc417;
  --text-brand-color: #F6F1F1;

  --elem-height: 3em;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  cursor:
    url(/assets/icons/favicon.svg) 2 2,
    crosshair !important;
}

body {
  display: grid;
  grid-template-areas:
    'header nav'
    'main main'
    'footer footer';
  background: var(--text-color-secondary);
  /* font-family: "Roboto", sans-serif; */
  /* font-family: 'Exo 2', sans-serif; */
  
  font-family: "JetBrains Mono", monospace;
}

@media screen and (max-width: 700px) {
  body {
    grid-template-areas:
      'header'
      'nav'
      'main'
      'footer';
  }
}

header {
  grid-area: header;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

header,
footer,
nav {
  background-color: var(--main-color);
  color: var(--text-brand-color);
  min-height: var(--elem-height);
  padding: .5em;
}


.flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}


main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-size: 600% 600%;
  animation: gradient 3s ease infinite;
}


button {
  background-color: var(--brand-color);
  border: none;
  border-radius: 0.5em;
  padding: 0.2em;
  box-shadow: inset 2px 2px 2px 1px #0000008f, inset -2px -2px 2px 1px #ffffff2e;
}

button:hover {
  filter: drop-shadow(16px 16px 20px var(--brand-color))  brightness(1.1);
  transition: all 0.3s ease-in-out;
}

svg {
  height: 3em;
  /* cursor:
    url(/assets/icons/favicon.svg) 2 2,
    crosshair; */
}

header svg {
  height: 1.5em;
  padding-right: 1em;
  padding-top: .1em;
}

svg path {
  fill: var(--text-brand-color);
}

footer {
  flex-direction: column-reverse !important;
  align-items: center;
  gap:2em;
}

.socials svg {
  border-radius: 50%;
  padding:.2em;
  width: 3em;
  height: 3em;
  border: 2px solid white;
}
.socials svg:hover {
  filter: drop-shadow(0 0 .1em var(--brand-color))  brightness(1.1);
}

.socials {
  width: 25em;
  gap: 2em;
}

#logo {
  padding-left: 1em;
}

#logo:hover {
  filter: drop-shadow(1px 1px 2px var(--brand-color))  brightness(1.1);
}

#above-fold {
  background: linear-gradient(180deg, var(--main-color) 0%, var(--main-color) 50%, var(--text-color-primary) 80%);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 90vh;
  border-radius: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

#above-fold img {
  min-width: 20em;
  width: 30vw;
  margin: 2em;
}

#above-fold h1 {
  text-align: center;
  margin: 2em;
  color: white;

}

#below-fold {
  width: 80%;

}

#below-fold section {
  margin: 2em;
  padding: 1em;
}

#below-fold section:first-of-type p {
  padding: 1em;
}

#title {
  padding-left: .5em;
}

#skills {
  display: grid;
  grid-template-columns: auto auto auto;
  gap:1em;
  justify-items: center;
}

.blink {
  animation: blink 1.5s step-end infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}