/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@100&display=swap');

@import "/styles/layout/header.css";
@import "/styles/layout/footer.css";
@import "/styles/layout/nav.css";
@import "/styles/skills.css";

:root {
  --text-color-primary: rgb(0, 0, 0);
  --text-color-secondary: #6f17c4;
  --card-color: #E4DCCF;
  --margin-color: #212427;
  --brand-color: #6cc417;
  --text-brand-color: #F6F1F1;

  --elem-height: 3em;

  /*  60-30-10 Rule */

  -_: #212121; /*  60% */
  --bg-primary: 33, 33, 33;
  -_: #323232; /*  30% */
  --bg-secondary: 50, 50, 50;
  -_: #0D7377; /*  10% */  
  --bg-accent: 13, 115, 119;

  --bg-highlight: #14FFEC;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  cursor:
    url(/assets/icons/favicon.svg) 2 2,
    crosshair !important;
  font-family: "JetBrains Mono", monospace;

}

body {
  display: grid;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  background: rgb(var(--bg-primary));
  font-family: "JetBrains Mono", monospace;
  background-size: 300% 200%;
  background-image: linear-gradient(-70deg,
      rgb(var(--bg-primary)), rgb(var(--bg-primary)), rgb(var(--bg-primary)),
      rgb(var(--bg-primary)), rgb(var(--bg-primary)), rgb(var(--bg-primary)),
      rgb(var(--bg-primary)), rgb(142, 142, 142), rgb(var(--bg-primary)),
      rgb(var(--bg-primary)), rgb(var(--bg-primary)), rgb(var(--bg-primary)),
      rgb(var(--bg-primary)), rgb(var(--bg-primary)), rgb(var(--bg-primary)));
  animation: gradient 5s ease-in-out infinite;

}

main a {
  color: var(--bg-highlight) !important;
}

main a:hover {
  text-decoration: underline;
}


header {
  grid-area: header;
}

footer {
  grid-area: footer;
  padding: 2em 0;

}

nav {
  grid-area: nav;
}

header,
footer,
nav {
  background-color: rgb(var(--bg-primary));
  color: var(--text-brand-color);
  min-height: var(--elem-height);
}


main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation: gradient 3s ease infinite;
  background: rgba(var(--bg-accent), 0.7);
}



button {
  background-color: var(--bg-highlight);
  border: none;
  border-radius: 0.5em;
  padding: 0.2em;
  box-shadow: inset 2px 2px 2px 1px #0000008f, inset -2px -2px 2px 1px #ffffff2e;
}

button:hover {
  filter: drop-shadow(16px 16px 20px var(--bg-highlight)) brightness(1.1);
  transition: all 0.3s ease-in-out;
}

svg {
  height: 3em;
}

header svg {
  height: 1.5em;
  padding-right: 1em;
  padding-top: .1em;
}

svg path {
  fill: var(--text-brand-color);
}
