@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

@import "/styles/layout/header.css";
@import "/styles/layout/footer.css";
@import "/styles/layout/nav.css";

:root {
  --text-color-primary: rgb(0, 0, 0);
  --text-color-secondary: #19A7CE;
  --card-color: #E4DCCF;
  --main-color: #212427;
  --brand-color: #19A7CE;
  --text-brand-color: #F6F1F1;

  --elem-height: 3em;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  display: grid;
  grid-template-areas:
    'header nav'
    'main main'
    'footer footer';
  background: #e7e1e1;
  background: linear-gradient(-45deg, #AFD3E2, #19A7CE, #146C94);
  font-family: "Roboto", sans-serif;
  font-family: 'Exo 2', sans-serif;
}
@media screen and (max-width: 700px) {
  body {
    grid-template-areas:
      'header'
      'nav'
      'main'
      'footer';
  }
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

header,
footer,
nav {
  /* animation: grow 1s ease-out; */
  background-color: var(--main-color);
  color: var(--text-brand-color);
  height: var(--elem-height);
  padding: .5em;
}


.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-size: 600% 600%;
  animation: gradient 3s ease infinite;
}


button {
  background-color: var(--brand-color);
  border: none;
  border-radius: 0.5em;
  padding: 0.2em;
  box-shadow: inset 2px 2px 2px 1px #0000008f, inset -2px -2px 2px 1px #ffffff2e;
}

button:hover {
  filter: brightness(1.1);
  transition: all 0.3s ease-in-out;
}

svg {
  height: 3em;
  cursor: pointer;
}

svg path {
  fill: var(--text-brand-color);
}
#above-fold {
  background: linear-gradient(180deg, var(--main-color) 0%, var(--main-color) 50%, var(--text-color-primary) 80% );
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 90vh;
  border-radius: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

#below-fold {
  width: 80%;

}

#below-fold section {
  background-color: 	#19ce9b47;
  margin:2em;
  padding:1em;
}