
/* 
main {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  width: 800px;
  margin: 50px auto;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.project {
  padding: 2em;
}

.project.h1 {
  text-align: center;
}

.front,
.back {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000033;
  background-color: var(--card-color);
}

.back {
  padding: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding-bottom: .5em;
}


.project ol {
  list-style: none;
  margin-bottom: 20px;
}

.project ol li {
  margin: 5px 0;
}

.project ol li:before {
  margin-right: 5px;
}

canvas {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.info-text {
  padding-top: 1em;
  font-size: 4em;
}
 */

/*              RPS                   */

/* #rps-game #game {
  background-color: var(--card-color);
  height: fit-content;
  padding: .5em;
}

#rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

#rules span {
  display: flex;
  margin: .2em;
  margin-top: .5em;
}

#rules span p {
  padding-right: .1em;
  text-transform: capitalize;
  white-space: pre-line;
}

#game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  font-size: 2em;

}

#rounds {
  display: flex;
  flex-direction: row;

}

#game-buttons button {
  min-width: 10em;
  padding: 1rem;
  border-radius: 2em;
}

#rps-game #game button {
  font-size: 2em;
}

#rps-game #game {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rps-game #game section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
} */