main {
    overflow: scroll !important;
}

#rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

#rules section span{
    display: flex;
    padding-top: 2em;
}
#rules span p:first-of-type{
    padding-right: .5em;
    text-transform: capitalize;
}

#game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#rounds {
    display: flex;
    flex-direction: row;

}
#game-buttons button{
    min-width: 10em;	
    padding:1em;
    border-radius: 2em;
    background-color: aquamarine;
}
